<div class="container" style="margin-left: 100px" ng-controller="exercisesCtrl">

    <!--Alertas da API-->
    <div ng-repeat="alert in alerts" ng-show="alert.show">
        <h3 ng-style={{alert.style}} class="alert" role="alert" ng-click="closeAlert($index)"><strong>{{alert.type}}!</strong>
            {{alert.msg}}</h3>
    </div>

    <!--Button Adicionar Exercicio-->
    <button type="button" class="btn btn-secondary glyphicon glyphicon-plus" ng-click="loadEq()" data-toggle="modal"
        data-target="#addEx">ADICIONAR
        EXERCICIO
    </button>
    <table class="content table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Músculo</th>
                <th>Dificuldade</th>
                <th>Nome do Equipamento</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ex in exercicios">
                <td>{{ex.id}}</td>
                <td><img src="{{ex.imageUrl}}" alt="Image not Loaded" width="100px"></img></td>
                <td>{{ex.name}}</td>
                <td>{{ex.targetMuscleGroup}}</td>
                <td>{{ex.difficultyLevel}}</td>
                <td>{{ex.equipmentId}}</td>
                <!--Vai retornar o nome do Equipamento-->
                <td>{{ex.description}}</td>
                <td class="options">
                    <button type="button" class="rmv btn btn-danger glyphicon glyphicon-remove" data-toggle="modal"
                        data-target="#removerEx" ng-click="removeEx(ex.id)">
                    </button>
                    <button type="button" class="edt btn btn-success glyphicon glyphicon-pencil" data-toggle="modal"
                        data-target="#editarEx" ng-click="loadEq(); edEx(ex.id)">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!--Pagination-->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>
        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>
        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


    <!--Modal Remover Equipamento-->
    <modal class="modal fade" id="removerEx" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Remover Exercicio {{idExremove}}</h3>
                </div>
                <div class="modal-body">
                    <h4>Pretende remover este Exercicio?</h4>
                    <button type="button" class="rmv btn btn-danger glyphicon glyphicon-remove" ng-click="rmEx(idExremove)">
                        Confirm
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </modal>


    <!--Modal Adicionar Exercicio-->
    <modal class="modal fade" id="addEx" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Adicionar Exercicio</h3>
                </div>
                <div class="modal-body">
                    <!--Form para adicionar um novo Exercicio-->
                    <form ng-submit="submitADD()" name="myForm">
                        <h4>Preenche os seguintes cabeçalhos:</h4>


                        <!--Nome do Exercicio-->
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input class="form-control" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="ex.name"
                                name="nome" id="nome" required />
                        </div>


                        <!--Target Muscle do Exercicio-->
                        <div class="form-group">
                            <label for="targetMuscleGroup">Músculo:</label>
                            <select class="form-control" ng-model="ex.targetMuscleGroup" required>
                                <option ng-repeat="x in exMus" value="{{x}}">{{x}}</option>
                            </select>
                        </div>


                        <!--Dificuldade do Exercicio-->
                        <div class="form-group">
                            <label for="dificuldade">Dificuldade:</label>
                            <select class="form-control" ng-model="ex.difficultyLevel" required>
                                <option ng-repeat="x in exDif" value="{{x}}">{{x}}</option>
                            </select>
                        </div>


                        <!--Nome do Equipamento (Select com o nome dos equipamentos existentes)-->
                        <div class="form-group">
                            <label for="equipamento">Equipamento:</label>
                            <select class="form-control" ng-model="ex.equipmentId">
                                <option value="" selected>None</option>
                                <option ng-repeat="x in exEq" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>


                        <!--Descrição do Exercicio -->
                        <div class="form-group">
                            <label for="description">Descrição(150 letras):</label>
                            <textarea class="form-control" type="text" onfocus="this.value=''" ng-model="ex.description"
                                name="description" ng-minlength="1" ng-maxlength="150" id="description" required>
                            </textarea>
                            <div role="alert">
                                <span class="error" ng-show="myForm.description.$error.text">
                                    Atingiu o número máximo de letras!</span>
                            </div>
                        </div>


                        <!--URL da imagem do Equipamento-->
                        <div class="form-group">
                            <lable for="imgurl">Imagem:(URL)</lable>
                            <input class="form-control" type="url" ng-model="ex.imageUrl" name="imgurl" id="imgurl"
                                required />
                        </div>


                        <p></p>
                        <button class="btn btn-default btn-block" ng-disabled="myForm.$invalid" type="submit" id="submit"
                            value="Submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </modal>

    <!--Modal Editar Exercicio-->
    <modal class="modal fade" id="editarEx" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Editar Exercicio {{idExedit}}</h3>
                </div>
                <div class="modal-body">
                    <!--Form para editar um Exercicio-->
                    <form ng-submit="exsubmit()" name="myedForm">
                        <h4>Preenche os seguintes cabeçalhos:</h4>


                        <!--Nome do Exercicio-->
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input class="form-control" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="edex.name"
                                name="nome" id="nome" required />
                        </div>


                        <!--Target Muscle do Exercicio-->
                        <div class="form-group">
                            <label for="targetMuscleGroup">Músculo:</label>
                            <select class="form-control" ng-model="edex.targetMuscleGroup">
                                <option ng-repeat="x in exMus" value="{{x}}">{{x}}</option>
                            </select>
                        </div>


                        <!--Dificuldade do Exercicio-->
                        <div class="form-group">
                            <label for="dificuldade">Dificuldade:</label>
                            <select class="form-control" ng-model="edex.difficultyLevel">
                                <option ng-repeat="x in exDif" value="{{x}}">{{x}}</option>
                            </select>
                        </div>


                        <!--Nome do Equipamento (Select com o nome dos equipamentos existentes)-->
                        <div class="form-group">
                            <label for="equipamento">Equipamento:</label>
                            <select class="form-control" ng-model="edex.equipmentId">
                                <option value="" selected>None</option>
                                <option ng-repeat="x in exEq" value="{{x.id}}">{{x.name}}</option>
                            </select>
                        </div>


                        <!--Descrição do Exercicio -->
                        <div class="form-group">
                            <label for="description">Descrição(150 letras):</label>
                            <textarea class="form-control" type="text" onfocus="this.value=''" ng-model="edex.description"
                                name="description" ng-minlength="1" ng-maxlength="150" id="description" required></textarea>
                            <div role="alert">
                                <span class="error" ng-show="myedForm.description.$error.text">
                                    Atingiu o número máximo de letras!</span>
                            </div>
                        </div>


                        <!--URL da imagem do Equipamento-->
                        <div class="form-group">
                            <lable for="imgurl">Imagem:(URL)</lable>
                            <input class="form-control" type="url" ng-model="edex.imageUrl" name="imgurl" id="imgurl"
                                required />
                        </div>


                        <p></p>
                        <button class="btn btn-default btn-block" ng-disabled="myedForm.$invalid" type="submit" id="submit"
                            value="Submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </modal>
</div>