<div class="container" style="margin-left: 100px" ng-controller="ticketsCtrl">

    <!--Alertas da API-->
    <div ng-repeat="alert in alerts" ng-show="alert.show">
        <h3 ng-style={{alert.style}} class="alert" role="alert" ng-click="closeAlert($index)"><strong>{{alert.type}}!</strong>
            {{alert.msg}}</h3>
    </div>

    <h2 style="color: white">Tickets:</h2>
    <table class="content table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Aberto às</th>
                <th>Estado</th>
                <th>ID do Cliente</th>
            </tr>
        </thead>
        <tbody class="ticketslist">
            <tr ng-repeat="ticket in Tickets" ng-click="getthisTicket(ticket)">
                <td>{{ticket.id}}</td>
                <td>{{ticket.title}}</td>
                <td>{{ticket.openedAt}}</td>
                <td>{{ticket.state}}</td>
                <td>{{ticket.clientId}}</td>
                <!--<td>
                    <button type="button" class="rmv btn btn-danger glyphicon glyphicon-remove" data-toggle="modal"
                        data-target="#removercliente" ng-click="removeClient(cliente.id)">
                        Remover
                    </button>
                </td>-->
            </tr>
        </tbody>
    </table>


    <!--Pagination-->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>
        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>
        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>

</div>