<div ng-controller="atribuirPlanoCtrl">

    <h1>Atribuir Plano</h1>

    <br/>
    <label for="fil">Filtre a sua pesquisa:</label>
    <input id="fil" type="text" class="form-control" placeholder="Pesquise por nome do cliente" ng-model="filtro_clientes"/>
    <br/>

    <!-- Lista de clientes -->
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in clients | filter : filtro_clientes">

            {{x.firstName}} {{x.lastName}}

            <select name="plan" class="custom-select">
                <option value="" disabled selected>{{x.trainingPlan.name}}</option>
                <option ng-click="changePlan(x.id, y.id)" ng-repeat="y in plans" value="{{y.id}}">{{y.name}}</option>
            </select>

        </li>
    </ul> 

    <br/>
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>

</div>