<div ng-controller="suporteCtrl">

    <h2>Seus tickets</h2>
    <a href="#!novoticket" class="btn btn-success" role="button">Novo ticket</a>
    <br/>
    <br/>

    <!-- Lista dos tickets -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Data abertura</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in tickets">
                <td>{{x.title}}</td>
                <td>{{x.openedAt}}</td>
                <td>{{x.state}}</td>
                <td><a href="#!ticket/{{x.id}}" class="btn btn-success" role="button">Ver</a></td>
                
            </tr>
        </tbody>
    </table>

    <br/>
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>

        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>

        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


</div>