<div ng-controller="equipamentosCtrl">

    <h1>Lista de equipamentos</h1>

    <br/>
    <label for="fil">Filtre a sua pesquisa:</label>
    <input id="fil" type="text" class="form-control" placeholder="Pesquise por nome do equipamento, marca, etc..." ng-model="filtro_equipamentos"/>
    <br/>

    <!-- The Modal -->
    <div class="modal fade" id="editarCriarEquipamento">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
      
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editar Equipamento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">

                    <form ng-submit="submitEquipment()">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="editEquipment.name" required/>
                        </div>

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" id="description" name="description" ng-model="editEquipment.description" required/>
                        </div>

                        <div class="form-group">
                            <label for="imgUrl">Imagem URL:</label>
                            <input type="text" class="form-control" id="imgUrl" name="imgUrl" ng-model="editEquipment.imageUrl" required/>
                        </div>

                        <div class="form-group">
                            <label for="quantity">Quantidade:</label>
                            <input type="number" min="0" class="form-control" id="quantity" name="quantity" ng-model="editEquipment.quantity" required/>
                        </div>

                        <div class="form-group">
                            <label for="brandName">BrandName:</label>
                            <input type="text" class="form-control" id="brandName" name="brandName" ng-model="editEquipment.brandName" required/>
                        </div>

                        <div class="form-group">
                            <label for="priceInEuro">Price:</label>
                            <input type="number" min="0" class="form-control" id="priceInEuro" name="priceInEuro" ng-model="editEquipment.priceInEuro" required/>
                        </div>

                        <div class="form-group">
                            <label for="supplierName">Supplier name:</label>
                            <input type="text" class="form-control" id="supplierName" name="supplierName" ng-model="editEquipment.supplierName" required/>
                        </div>

                        <button type="submit" class="btn btn-primary" ng-disabled="disableSubmit">Submit</button>

                    </form>

                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="closeEquipmentModal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
      
            </div>
        </div>
    </div>

    <!-- Botão novo equipamento -->
    
    <button type="button" class="btn btn-success"  ng-click="create()" data-toggle="modal" data-target="#editarCriarEquipamento">Criar novo</button>
    <br/>
    <br/>

    <!-- Lista de equipamentos -->
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in equipamentos | filter : filtro_equipamentos">


            <p data-toggle="collapse" data-target="#eq{{x.id}}">{{x.name}} 
                <a href="" ng-click="edit(x.id)" data-toggle="modal" data-target="#editarCriarEquipamento">Edit</a>
                <a href="" ng-click="edit(x.id);delete(x.id)">Delete</a>
            </p>

            <div id="eq{{x.id}}" class="collapse">
                <dt>Descrição:</dt>
                <dd>- {{x.description}}</dd>

                <dt>Marca:</dt>
                <dd>- {{x.brandName}}</dd>

                <dt>Quantidade:</dt>
                <dd>- {{x.quantity}}</dd>

                <div class="card" style="width:350px; display:inline-block; margin: 20px">
                    <div class="card-body">
                        <img class="img" src="{{x.imageUrl}}" alt="Something went wrong, it's not possible to display the image" style="width:100%;height:100%"/>
                        <figcaption>{{x.name}}</figcaption>
                    </div>
                </div>

            </div> 

        </li>
    </ul> 

</div>