<div ng-controller="exerciciosCtrl">

    <h1>Lista de exercicios</h1>

    <br/>
    <input type="text" class="form-control" placeholder="Pesquise por nome de exercicio, grupo muscular, etc..." ng-model="filtro_exercicios">
    <br/>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="x in exercicios | filter : filtro_exercicios">

            <a><p data-toggle="collapse" data-target="#ex{{x.id}}">{{x.name}}</p></a>

            <div id="ex{{x.id}}" class="collapse">
                <dt>Descrição:</dt>
                <dd>- {{x.description}}</dd>

                <dt>Grupo muscular</dt>
                <dd>- {{x.muscle}}</dd>

                <dt>Dificuldade</dt>
                <dd>- {{x.difficulty}}</dd>

                <dt>Equipamento</dt>
                <dd>- {{x.equipmentToUse}}</dd>

                <img src="{{x.url}}" alt="Smiley face" width="100%"> 

            </div> 

        </li>

    </ul> 

</div>