<div ng-controller="homeCtrl">
    
        <!-- Tabelas -->
        <div class="row">

            <!-- Tabela de ultimas entradas -->
            <div class="col-6">
                <button type="button" class="btn btn-primary" ng-click="checkin()">Check in</button>
                <h2>Ultimas entradas</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in entradas">
                            <td>{{x.date}}</td>
                            <td>{{x.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
            <!-- Tabela de ultimos pagamentos -->
            <div class="col-6">
                <button type="button" class="btn btn-primary invisible">Primary</button>
                <h2>Ultimos pagamentos</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10-11-2018</td>
                            <td>25€</td>
                        </tr>
                        <tr>
                            <td>11-11-2019</td>
                            <td>25€</td>
                        </tr>
                        <tr>
                            <td>13-11-2018</td>
                            <td>25€</td>
                        </tr>
                    </tbody>
                </table>
    
            </div>
    
        </div>
    </div>