<div ng-controller="planoTreinoCtrl">

    <h1>Plano de treino</h1>

    <div class="btn-group">
        <button type="button" class="btn btn-primary">Segunda-Feira</button>
        <button type="button" class="btn btn-primary">Terça-Feira</button>
        <button type="button" class="btn btn-primary">Quarta-Feira</button>
        <button type="button" class="btn btn-primary">Quinta-Feira</button>
        <button type="button" class="btn btn-primary">Sextra-Feira</button>
        <button type="button" class="btn btn-primary">Sábado</button>
        <button type="button" class="btn btn-primary">Domingo</button>
    </div> 

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Exercício</th>
                <th>Séries</th>
                <th>Repetições</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ex 1</td>
                <td>4</td>
                <td>12</td>
                <td>10</td>
            </tr>
            <tr>
                <td>ex 2</td>
                <td>4</td>
                <td>10</td>
                <td>8</td>
            </tr>
            <tr>
                <td>ex 3</td>
                <td>4</td>
                <td>8</td>
                <td>12</td>
            </tr>
        </tbody>
    </table>
    

</div>