<div ng-controller="planoTreinoCtrl">

    <h1>Plano de treino</h1>

    <!-- Selecionar o dia -->
    <div class="form-group">
        <label for="sel1">Escolha o dia:</label>
        <select class="form-control" id="sel1">
            <option ng-click="selectPlanDay(2)">Segunda-feira</option>
            <option ng-click="selectPlanDay(3)">Terça-feira</option>
            <option ng-click="selectPlanDay(4)">Quarta-feira</option>
            <option ng-click="selectPlanDay(5)">Quinta-feira</option>
            <option ng-click="selectPlanDay(6)">Sexta-feira</option>
            <option ng-click="selectPlanDay(7)">Sábado</option>
            <option ng-click="selectPlanDay(1)">Domingo</option>
        </select>
    </div> 

    <!-- Filtrar a pesquisa -->
    <br/>
    <label for="fil">Filtre a sua pesquisa:</label>
    <input id="fil" type="text" class="form-control" placeholder="Pesquise por nome de exercicio, grupo muscular, dificuldade..." ng-model="filtro_plano">
    <br/>

    <!-- Lista dos exercicios -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Exercício</th>
                <th>Descrição</th>
                <th>Grupo muscular</th>
                <th>Dificuldade</th>
                <th>Equipamento</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in plan | filter : filtro_plano">
                <td>{{x.name}}</td>
                <td>
                    {{x.description}}

                    <br/>
                    <br/>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#plan{{x.id}}">Clique para ver/ocultar</button>

                    <div id="plan{{x.id}}" class="collapse">
                        <div class="card" style="width:350px; display:inline-block; margin: 20px">
                            <div class="card-body">
                                <img class="img" src="{{x.imageUrl}}" alt="Something went wrong, it's not possible to display the image." style="width:100%;height:100%"/>
                                <figcaption>{{x.name}}</figcaption>
                            </div>
                        </div>
                    </div> 
                </td>
                <td>{{x.targetMuscleGroup}}</td>
                <td>{{x.difficultyLevel}}</td>
                <td>{{x.equipmentToUse}}</td>
            </tr>
        </tbody>
    </table>
    

</div>