<div ng-controller="suporteCtrl">

    <h2>Seus tickets</h2>
    <a href="#!novoticket" class="btn btn-success" role="button">Novo ticket</a>
    <br/>
    <br/>

    <!-- Lista dos tickets -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Data abertura</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in tickets">
                <td>{{x.title}}</td>
                <td>{{x.openedAt}}</td>
                <td>{{x.state}}</td>
                <td><a href="#!ticket/{{x.ticketId}}" class="btn btn-success" role="button">Ver</a></td>
                
            </tr>
        </tbody>
    </table>


</div>