<div ng-controller="suporteCtrl">

    <h2>Seus tickets</h2>
    <a href="#!novoticket" class="btn btn-success" role="button">Novo ticket</a>
    <br/>
    <br/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Data abertura</th>
                <th>Data ultima resposta</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in tickets">
                <td>{{x.message}}</td>
                <td>21-11-2018 21:03 (static)</td>
                <td>22-11-2018 09:11 (static)</td>
                <td>Aberto (static)</td>
                <td><a href="#!ticket/{{x.ticketId}}" class="btn btn-success" role="button">Ver</a></td>
                
            </tr>
        </tbody>
    </table>


</div>