<div ng-controller="ticketCtrl">

    <h1>Ver ticket <small><span class="badge badge-secondary">{{ticket.state}}</span></small></h1>

    <!-- Lista de mensagens do ticket -->
    <div class="media border p-3" ng-repeat="x in ticket.messages">
        <img src="img_avatar3.png" alt="" class="mr-3 mt-3 rounded-circle" style="width:60px;"/>
        <div class="media-body">
            <h4>{{x.name}} <small><i>Posted on {{x.at}}</i></small></h4>
            <p>{{x.message}}</p>
        </div>
    </div>

    <br/>
    
    <!--<td><a href="" class="btn btn-danger" role="button" ng-click="closeTicket()" ng-hide="close">Fechar ticket</a></td>
    <td><a href="" class="btn btn-success" role="button" ng-click="openTicket()" ng-hide="open">Abrir ticket</a></td>
    -->

    <!-- Adicionar resposta ao ticket -->
    <h2>Adicionar resposta</h2>
    <form ng-submit="addAnswer()">
        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea id="newmessage" class="form-control" rows="5" id="comment" name="text" ng-model="answer" ng-disabled="message" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="disableSubmit">Submit</button>
    </form>

</div>