<div class="container" style="margin-left: 100px" ng-controller="clientesCtrl">

    <!--Alertas da API-->
    <div ng-repeat="alert in alerts" ng-show="alert.show">
        <h3 ng-style={{alert.style}} class="alert" role="alert" ng-click="closeAlert($index)"><strong>{{alert.type}}!</strong>
            {{alert.msg}}</h3>
    </div>

    <!--Button Adicionar Cliente-->
    <button type="button" class="btn btn-secondary glyphicon glyphicon-plus" data-toggle="modal" data-target="#addClient">ADICIONAR
        CLIENTE</button>
    <table class="content table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imagem</th>
                <th>Primeiro Nome</th>
                <th>Último Nome</th>
                <th>Idade</th>
                <th>DdN</th>
                <th>NIF</th>
                <th>Altura</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cliente in Clientes">
                <td>{{cliente.id}}</td>
                <td><img src="{{cliente.imageUrl}}" alt="Error" width="30px"></img></td>
                <td>{{cliente.firstName}}</td>
                <td>{{cliente.lastName}}</td>
                <td>{{cliente.age}}</td>
                <td>{{cliente.birthDate}}</td>
                <td>{{cliente.nif}}</td>
                <td>{{cliente.heightInMeters}}</td>
                <td>{{cliente.weightInKg}}</td>
                <td>
                    <button type="button" class="rmv btn btn-danger glyphicon glyphicon-remove" data-toggle="modal"
                        data-target="#removercliente" ng-click="removeClient(cliente.id)">
                    </button>
                    <button type="button" class="edt btn btn-success glyphicon glyphicon-pencil" data-toggle="modal"
                        data-target="#editarClient" ng-click="edCliente(cliente.id)">
                    </button>
                </td>
            </tr>

        </tbody>
    </table>

    
    <!--Pagination-->
    <ul id="paginationHide" class="pagination justify-content-center">
        <li id="pageback" class="page-item">
            <a class="page-link disabled" href="" ng-click="previousPage()">Previous</a>
        </li>
        <li id="page{{x.index}}" class="page-item" ng-repeat="x in numberPages">
            <a class="page-link" href="" ng-click="setPage(x.index)">{{x.index}}</a>
        </li>
        <li id="pagenext" class="page-item">
            <a class="page-link" href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>


    <!--Modal Remover Cliente-->
    <modal class="modal fade" id="removercliente" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Remover Cliente {{idclienteremove}}</h3>
                </div>
                <div class="modal-body">
                    <h4>Pretende remover este cliente?</h4>
                    <button type="button" class="rmv btn btn-danger glyphicon glyphicon-remove" ng-click="rmCliente(idclienteremove)">
                        Confirm
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </modal>

    <!--Modal Adicionar Cliente-->
    <modal class="modal fade" id="addClient" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Adicionar Cliente</h3>
                </div>
                <div class="modal-body">
                    <!--Form para adicionar um novo Cliente-->
                    <form name="myForm" ng-submit="submitADD()">
                        <h4>Preenche os seguintes cabeçalhos:</h4>


                        <!--Primeiro Nome do Cliente-->
                        <div class="form-group">
                            <label for="pnome">Primeiro Nome:</label>
                            <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" type="text" ng-model="user.firstName"
                                name="pnome" id="pnome" required />
                        </div>


                        <!--Último Nome do Cliente-->
                        <div class="form-group">
                            <lable for="unome">Ultimo Nome:</lable>
                            <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" type="text" ng-model="user.lastName"
                                name="unome" id="unome" required />
                        </div>


                        <!--Username do Cliente-->
                        <div class="form-group">
                            <lable for="un">Username(só letras):</lable>
                            <input class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" type="text" ng-model="user.username"
                                name="un" id="un" required />
                        </div>


                        <!--Email do Cliente-->
                        <div class="form-group">
                            <lable for="email">Email:</lable>
                            <input class="form-control" type="email" ng-model="user.email" name="email" id="email"
                                required />
                        </div>


                        <!--Password do Cliente-->
                        <div class="form-group">
                            <lable for="psw">Password:</lable>
                            <input class="form-control" type="password" min-length="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/"
                                ng-model="user.password" name="psw" id="psw" required />
                            <span ng-show="!myForm.psw.$error.required &&  myForm.psw.$error.pattern && myForm.psw.$dirty">Tem
                                de conter um lower e uppercase letra, um numero ou simbolo e min 8 characters</span>
                        </div>


                        <!--Confirm Password do Cliente-->
                        <div class="form-group">
                            <label for="cpsw">Confirm Password:</label>
                            <input name="cpsw" type="password" class="form-control" ng-model="user.confirmPassword"
                                ng-pattern="user.password" required />
                            <span ng-show="user.password != user.confirmPassword">As passwords devem ser iguais.</span>
                        </div>


                        <!--Data de Nascimento yyyy-mm-dd-->
                        <div class="form-group">
                            <lable for="ddn">Data de Nascimento(yyyy-mm-dd):</lable>
                            <input class="form-control" type="date" placeholder="yyyy-mm-dd" min="1900-12-31" max="2012-12-12"
                                ng-model="user.birthDate" name="ddn" id="ddn" required />
                            <div role="alert">
                                <span class="error" ng-show="myForm.ddn.$error.required">
                                    Required!</span>
                                <span class="error" ng-show="myForm.ddn.$error.date">
                                    Idade Inválida!</span>
                            </div>
                        </div>


                        <!--NIF-->
                        <div class="form-group">
                            <lable for="nif">NIF(9 digitos):</lable>
                            <input class="form-control" type="text" ng-pattern="/^\d{9}$/" ng-model="user.nif" name="nif"
                                id="nif" required />
                        </div>


                        <!--Altura em metros-->
                        <div class="form-group">
                            <lable for="altura">Altura(m):</lable>
                            <input class="form-control" type="number" step="0.01" ng-model="user.heightInMeters" name="altura"
                                id="altura" min="1" max="3" required />
                        </div>


                        <!--Peso em KG-->
                        <div class="form-group">
                            <lable for="peso">Peso(kg):</lable>
                            <input class="form-control" type="number" step="0.01" ng-model="user.weightInKg" name="peso"
                                min="40" max="250" id="peso" required />
                        </div>


                        <!--URL da imagem de perfil-->
                        <div class="form-group">
                            <lable for="imgurl">Imagem:(URL)</lable>
                            <input class="form-control" type="url" ng-model="user.imageUrl" name="imgurl" id="imgurl"
                                required />
                        </div>


                        <p></p>
                        <button class="btn btn-default btn-block" ng-disabled="myForm.$invalid" type="submit" id="submit"
                            value="Submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </modal>

    <!--Modal Editar Cliente-->
    <modal class="modal fade" id="editarClient" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Editar Cliente {{idclienteedit}}</h3>
                </div>
                <div class="modal-body">
                    <!--Form para Editar um Cliente-->
                    <form name="myedForm" ng-submit="edsubmit()">
                        <h4>Preenche os seguintes cabeçalhos:</h4>


                        <!--Primeiro Nome do Cliente-->
                        <div class="form-group">
                            <label for="pnome">Primeiro Nome:</label>
                            <input class="form-control" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="eduser.firstName"
                                name="pnome" id="pnome" required />
                        </div>


                        <!--Último Nome do Cliente-->
                        <div class="form-group">
                            <lable for="unome">Ultimo Nome:</lable>
                            <input class="form-control" type="text" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="eduser.lastName"
                                name="unome" id="unome" required />
                        </div>


                        <!--Data de Nascimento(yyyy-mm-dd)-->
                        <div class="form-group">
                            <lable for="ddn">Data de Nascimento(yyyy-mm-dd):</lable>
                            <input class="form-control" type="date" placeholder="yyyy-mm-dd" min="1900-12-31" max="2012-12-12"
                                ng-model="eduser.birthDate" name="ddn" id="ddn" required />
                            <div role="alert">
                                <span class="error" ng-show="myedForm.ddn.$error.required">
                                    Required!</span>
                                <span class="error" ng-show="myedForm.ddn.$error.date">
                                    Idade Inválida!</span>
                            </div>
                        </div>


                        <!--NIF-->
                        <div class="form-group">
                            <lable for="nif">NIF:</lable>
                            <input class="form-control" type="text" ng-pattern="/^\d{9}$/" ng-model="eduser.nif" name="nif"
                                id="nif" required />
                        </div>


                        <!--Altura em metros-->
                        <div class="form-group">
                            <lable for="altura">Altura(m):</lable>
                            <input class="form-control" type="number" step="0.01" ng-model="eduser.heightInMeters" name="altura"
                                id="altura" min="1" max="3" required />
                        </div>


                        <!--Peso em Kg-->
                        <div class="form-group">
                            <lable for="peso">Peso(kg):</lable>
                            <input class="form-control" type="number" step="0.01" ng-model="eduser.weightInKg" name="peso"
                                min="40" max="250" id="peso" required />
                        </div>


                        <!--URL da imagem de perfil-->
                        <div class="form-group">
                            <lable for="imgurl">Imagem:(URL)</lable>
                            <input class="form-control" type="url" ng-model="eduser.imageUrl" name="imgurl" id="imgurl"
                                required />
                        </div>


                        <p></p>
                        <button class="btn btn-default btn-block" ng-disabled="myedForm.$invalid" type="submit" id="submit"
                            value="Submit">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </modal>
</div>